<h1>Menu Informacion</h1>
<ul>
    <li>
        <a asp-controller="Informacion" asp-action="ControladorVista">
            Controlador --> Vista
        </a>
    </li>
    <li>
        <a asp-controller="Informacion" asp-action="VistaControladorPost">
            Vista --> Controlador Post
        </a>
    </li>
    <li>
        <a asp-controller="Matematicas" asp-action="SumarNumerosPost">
            Vista SumaNumeros --> Controlador Post
        </a>
    </li>
    <li>
        <a asp-controller="Collatz" asp-action="ConjeturaCollatzForm">
            Conjetura Collatz
        </a>
    </li>
    <li>
        <a asp-controller="Matematicas" asp-action="TablaMultiplicarSimple">
            Tabla Multiplicar
        </a>
    </li>
    <li>
        @Html.ActionLink("Vista --> Controlador GET", "VistaControladorGet", "Informacion", new { app = "Mvc Net Core", version = 7})
    </li>
    <li>
        @Html.ActionLink("Vista --> Controlador GET sin parametros", "VistaControladorGet", "Informacion")
    </li>
</ul>
