<h1>
    Vista --> Controlador Post
</h1>

<form action="VistaControladorPost" method="post">
    <label>Nombre: </label>
    <input type="text" name="Nombre" class="form-control" />
    <label>Email: </label>
    <input type="text" name="Email" class="form-control" />
    <label>Edad: </label>
    <input type="text" name="Edad" class="form-control" />
    <label>Aficiones: </label>
    <input type="text" name="Aficiones" class="form-control" />
    <br />
    <button class="btn btn-dark" type="submit">
        Enviar Datos
    </button>
    <br />
    <h2>@ViewData["DATOS"]</h2>
</form>