<h1>
    Vista SumaNumeros --> Controlador Post
</h1>

<form method="post" action="SumarNumerosGet">
    <label>Numero 1: </label>
    <input type="number" name="Numero1" class="form-control" />
    <label>Numero 2: </label>
    <input type="number" name="Numero2" class="form-control" />
    <br />
    <button class="btn btn-dark" type="submit">
        Enviar Numeros
    </button>
</form>
